body{
    background-color:black;
    color:white;
    font-size: 20px;
}
h1{
    color:grey
}
#id2{
    color:lightblue
}
.main-header{
    color: cornflowerblue;
}
.main-header{
    text-align: center;
}
.second-header{
    text-align: center ;
}
.head {
    margin-top: 50px;
}
.sub-header{
text-align: center;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.main-header{
    margin-top: 50px;
    margin-bottom: 50px;
}
.hallo{
    text-align: center;
}
.hallo{
    background-color;
}
.hallo2{
    border: 10px solid darkblue;
}
.hallo2{
    text-align: center;
}
#centerplease{
    text-align: center ;
}
.hallo3{
    border: 10px solid darkblue;
    text-align: center;
}